/* common css */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.common-text-color {
  color: #3a3a3a;
}
.common-text-center {
  text-align: center;
}
/* nav section css */
.nav-container {
  max-width: 1440;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-icon {
  width: 20px;
}

.menu-and-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
  gap: 20px;
}
.menu-and-icon ul li:hover {
  color: #ffffff;
  background-color: #0a0826;
  border-radius: 5px;
}
.nav-icon:hover {
  background-color: #ffffff;
}

/* banner section */
.banner-section-container {
  max-width: 1440;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-section-text {
  width: 30%;
}
.banner-section-image {
  width: 40%;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
}
.banner-description {
  margin-top: 10px;
  margin-bottom: 10px;
}
.banner-section-image img {
  width: 100%;
}

.pre-book {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  border: none;
  color: #ffffff;
}
.logo-section {
  margin-top: 50px;
  max-width: 1440px;
}
.logo-container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.popular-collection {
  max-width: 1440px;
  margin-top: 100px;
}
.fa-star {
  color: #fb8200;
}
.popular-collection-container {
  width: 70%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  gap: 10px;
}
.popular-collection-card {
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.popular-collection-card img {
  width: 100%;
  padding: 10px;
}
/* Responsive small device */
@media screen and (max-width: 576px) {
  .nav-container {
    width: 100%;
    flex-direction: column;
  }
  .banner-section-container {
    width: 100%;
    flex-direction: column-reverse;
  }

  .banner-section-text {
    width: 100%;
    text-align: center;
  }
  .banner-section-image img,
  .banner-section-image {
    width: 100%;
    background-size: contain;
  }

  .popular-collection-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-collection-card {
    width: 100%
  }
}
